audioread==2.1.8
backports-abc==0.5
backports.functools-lru-cache==1.5
certifi==2019.6.16
cffi==1.12.3
cycler==0.10.0
decorator==4.4.0
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
joblib==0.13.2
kiwisolver==1.1.0
librosa==0.6.3
llvmlite==0.29.0
matplotlib==2.2.3
numba==0.44.1
numpy==1.16.4
pandas==0.24.2
pycparser==2.19
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
resampy==0.2.1
scikit-learn==0.20.3
scipy==1.2.2
singledispatch==3.4.0.3
six==1.12.0
subprocess32==3.5.4
torch==1.2.0a0+ffa15d2
tornado==5.1.1
tqdm==4.32.2
typing==3.6.6
